body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, span {
  font-weight: 100;
}
.outer-container {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Baum Bild */
.picture-contianer {
    flex: 1 1 50%;
    max-width: 100vw;

    background-image: url("../images/coolerBaum.jpg");
    background-position: 50%;
    background-size: cover;
}
.picture-overlay {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}
.picture-overlay h1{
    color: white;
    font-size: 3.5rem;
}

/* rechts der inhalt */
.content-container{
    flex: 1 1 50%;
    min-width: 0px;
    
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.main-information-container {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}
.main-anfahrt-container {
    flex: 1 1 33.33%;
}
.main-kontaktaunahme-container {
    flex: 1 1 33.33%;
}
.input-window{
    width: 100%;
    padding: 7px;
    margin: 5px;
    border: 1px solid;
    border-color: white;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.05);
}
.input-window:focus {
    outline: none;
    border-color: gray;
    background-color: rgba(0, 0, 0, 0);
}
.input-window-textarea {
    height: 100px;
}
.input-window-label {
    display: none;
}
.form-submit-button button {
    background-color: black;
    border: 0 solid;
    border-radius: 0;
    color: white;
    padding: 7px;
}


.main-kontaktinformationen-container {
    flex: 1 1 33.33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.impressum-disclaimer-link {
    border-top: 2px solid;
    border-color: gray;
    text-align: center;
    padding: 10%;
}
.impressum-disclaimer-popup-button {
    padding: 20%;
}




/* Impressum/ Disclamer */
.impressum-disclaimer-container{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    text-align: center;
    z-index: 9999;
}
.impressum-disclaimer-container-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}
.impressum-disclaimer {
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50%, -50%);
    
    padding: 20px;
    background-color: white;
    color: black;
        
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: absolute;
}
.impressum-disclaimer-section {
    height: 80%;
    overflow: auto;
    background-color: white;
    
    text-align: left;
}
.impressum-disclaimer-top-bottom {
    height: 10%;
}
.impressum-disclaimer-top-bottom h2 {
    height: 10%;
}
.impressum-disclaimer-close-button {
    margin: 5%;
}



